.fire  {
    padding-top: 220px;
    padding-bottom: 110px;
    text-align: center;
    background-color: $mainBg;
    background-image: url('/src/assets/image/kamin-b.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 9%;
    -webkit-box-shadow: 0px -28px 28px 9px rgb(0 0 0 / 33%) inset;
    -moz-box-shadow: 0px -28px 28px 9px rgb(0 0 0 / 33%) inset;
    box-shadow: 0px -28px 28px 9px rgb(0 0 0 / 33%) inset;

    &__title {        
        max-width: 59%;
        text-align: center;
        margin: 0 auto;
        background: linear-gradient(240.22deg, #FFFFFF 77.8%, rgba(255, 255, 255, 0) 95.73%);
        margin-bottom: 21px;
    }

    &__description {
        margin: 0 auto;
        max-width: 46%;
        font-weight: 300;
        font-size: $descriptionFontSize;
        line-height: 1.65;        
        letter-spacing: 0.03em;
        margin-bottom: 478px;
    }

    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 123px;
        margin-left: 85px;
    }

    &__card {
        display: flex;
        align-items: center;
        max-width: 250px;
        gap: 34px;
        text-align: left;
    }

    &__text {        
        font-size: 16px;
        line-height: 1.5;
    }
}