.laboratory {
    
    &__title {        
        background: linear-gradient(239.18deg, #FFFFFF 25.25%, rgba(255, 255, 255, 0.07) 95.17%);        
        text-align: center;
        margin-bottom: 57px;
    }    
}