.solution {
    margin-bottom: 92px;
    
    &__title {
        margin-bottom: 44px;
        background: linear-gradient(249.07deg, #FFFFFF 36.17%, rgba(255, 255, 255, 0) 97.71%);        
        text-align: center;
    }    
}