$mainText: #FFFFFF;
$mainFontSize: 14px;
$mainBg: #1d1d1c;
$linkColor: #949494;
$activeLinkColor: #FFCF7A;
$subtitleColor: #757575;
$imageBg: #121212;
$btnBg: #ECCF94;
$btnBorder: #CEB787;
$titleFontSize: 40px;
$descriptionFontSize: 20px;


