@import './assets/style/normalize.scss';
@import './assets/style/variables.scss';
@import url('./assets/style/fonts.scss');
@import './assets/style/header.scss';
@import './assets/style/_auto-camin.scss';
@import './assets/style/fire.scss';
@import './assets/style/power';
@import './assets/style/smart.scss';
@import './assets/style/solution.scss';
@import './assets/style/laboratory.scss';
@import './assets/style/booking.scss';
@import './assets/style/contacts.scss';
@import './assets/style/footer.scss';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

%font {
    font-family: 'Lab Grotesque', sans-serif;
    font-size: $mainFontSize;
    color: $mainText;
    line-height: 1.2;
    font-weight: 300;
}

body {
    @extend %font;   
    background-color: $mainBg; 
}

.container {
    max-width: 1194px;
    margin: 0 auto;
}

.btn {
    border-radius: 1px;
    font-weight: 500;   
    font-size: 18px;  
    line-height: 1.67;
}

.btn__colored {
    padding: 13px 63px;
    background: #ECCF94;
    border-radius: 1px;
    background-image: url('/src/assets/image/btn-colored.png');    

    &:hover {
        transform: scale(1.2);
    }
}

.title {    
    font-weight: 250;
    font-size: $titleFontSize;
    line-height: 1.5;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;    
}

.three-items__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;  
}

.three-items__item {
    width: 370px;
    height: 267px;
    background: #121212;
    border-radius: 2px;
}

.btn__bordered {
    background-color: transparent;
    color: $mainText;
    padding: 15px 29px;
    border: 1px solid #CEB787;
    border-radius: 2px;

    &:hover {
       background: #ECCF94;
       transform: scale(1.2);
       color: #000000;
    }
}

.upper-text {
    text-transform: uppercase;
}