@import './assets/style/normalize.scss';
@import './assets/style/variables.scss';
@import url('./assets/style/fonts.scss');
@import './assets/style/header.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
button {
    transition: 0.3s;
}

%font {
    font-family: 'Lab Grotesque', sans-serif;
    font-size: $mainFontSize;
    color: $mainText;
    line-height: 1.2;
    font-weight: 300;
}

body {
    @extend %font;   
    background-color: $mainBg; 
}
.container {
    max-width: 1194px;
    margin: 0 auto;
}
.btn {
    border-radius: 1px;
    font-weight: 500;   
    font-size: 18px;  
    line-height: 1.67;
}
